<style>
    #rateButton {
        color: yellow;
        font-size: 2em;
    }
    .todoItem {
        background-color: #243447;
    }
    .completed {
        background-color: #302f2b !important;
        text-decoration: line-through;
        text-decoration-color: #add8e6;
    }
    .unrated {
        /* After completed so this background color supercedes completed's */
        background-color: #6f0000 !important;
    }
    .d-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .sectioned-children > div {
        flex-basis: calc(33.33% - 0.625rem);
        margin-bottom: 1rem;
    }

    #listImage {
        width: 35%; height: 35%; 
    }

    @media only screen and (max-width: 480px) {
        .phoneShrinker, .phoneShrinker h2 {
            font-size: .65rem;
        }

        .phoneShrinker h1 {
            font-size: 2rem;
        }

        .phoneShrinker #title {
            font-size: 1.25rem;
        }
        
        .phoneShrinker .disappearOnShrink {
            display: none;
        }

        .sectioned-children > div {
            flex-basis: calc(95% - 0.625rem);
            margin-bottom: 1rem;
        }

        .sectioned-children > .extrasContainer {
            flex-basis: calc(1% - 0.625rem);
            margin-bottom: 1rem;
        }
    }
</style>

<% if (todos.length !== 0) { %>
            
    <div class="dropdown mb-2">
        <button class="btn btn-secondary glow-on-hover" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sort <i class="fas fa-sort"></i>
        </button>
        <ul class="dropdown-menu bg-secondary" aria-labelledby="sortButton">
            <li><a class="dropdown-item text-light" href="?sortByRating=true">Rating</a></li>
            <li><a class="dropdown-item text-light" href="<%= todoType %>">Recent</a></li>
        </ul>
    </div>

    <!-- List group-->
    <ul class="list-group shadow">
        
        <% for (let todo of todos) { %>

        <!-- list group item-->
            <li class="list-group-item todoItem text-white mb-3 rounded bordered 
                    <%= todo.completed ? 'completed' : '' %>
                    <%= !todo.didRate(userId) ? 'unrated' : '' %>
                    ">
                <% if (!todo.didRate(userId)) { %>
                    <div style="justify-content: center; display: flex;">
                        <a href="<%= todoType %>/modify/<%= todo._id %>?rateOnly=true" class="btn glow-on-hover" id='rateButton'><i class="fa fa-star"></i></a>
                    </div>
                <% } %>
                <div class="d-flex sectioned-children phoneShrinker">
                    <div class="disappearOnShrink">
                        <img id='listImage' src="/images/check.png">
                    </div>
                    <div style="text-align: center; overflow: hidden;">
                        <h1 style="margin-bottom: 2rem;" class="overflowElipsis" id="title"><%= todo.title %></h1>
                        <p><%= todo.description %></p>
                    </div>
                    <div class="extras-container">
                        <div class="extras-header">
                            <h1><%= todo.getAvgRating() %></h1>
                        </div>
                        <div class="extras-details">
                            <figcaption><%= todo.getBothRateString(userId) %></figcaption>
                            <figcaption>Created by <%= todo.creatorInfo.creatorName %></figcaption>
                            <figcaption><%= todo.createdAt.toLocaleString("en-US", { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric'}).replace('at', '-') %></figcaption>
                            <% if (todo.url) { %>
                                <figcaption class="glow-on-hover"><a  href="<%= todo.url %>" target="_blank"><i class="fa fa-link text-white" style="transform: scale(1.5);"></i></a></figcaption>
                            <% } %>
                        </div>
                    </div>                                                                               
                </div>
                <div id="ModifyButtons" style="display:none;">
                    <button class="btn <%= todo.completed ? 'btn-secondary' : 'btn-success' %>  btn-lg glow-on-hover complete-todo" data-id="<%= todo._id %>">
                        <i class="fas fa-check"></i>
                    </button>
                    <a href="<%= todoType %>/modify/<%= todo._id %>" class="btn btn-warning btn-lg text-white glow-on-hover">
                        <i class="fas fa-edit"></i>
                    </a>
                    <button class="btn btn-danger btn-lg glow-on-hover delete-list-item" data-id="<%= todo._id %>">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
                <button class="top-right glow-on-hover btn details-button text-white" onclick="toggleDisplay(this)">
                    <i class="fas fa-info-circle"></i>
                </button>
            </li>
            
        <% } %>
        
    </ul>
    <% } else { %>

        <h2 class="fw-bold text-uppercase text-light text-center">No <%= page_title %> Items</h2>

    <% } %> 

<script src="/js/listButtons.js"></script>
<script>
    addDeleteFunctionalityToButtons('<%= page_title %>', '/todos/<%= todoType %>');

    // Add event listener for complete button clicks
    const completeButtons = document.querySelectorAll('.complete-todo');
    completeButtons.forEach(button => {
        button.addEventListener('click', function() {
            const todoId = this.getAttribute('data-id');
            const todoListItem = this.closest('.list-group-item');
            // Send PUT request to server
            fetch(`/todos/<%= todoType %>/change_completed/${todoId}`, { method: 'PATCH' })
            .then(response => {
                if (!response.ok) {
                throw new Error('Network response was not ok');
                }
                const parentList = todoListItem.parentNode;
                if (todoListItem.classList.contains('completed')){
                    // Update to show non-completion
                    this.classList.remove('btn-secondary');
                    this.classList.add('btn-success');
                    todoListItem.classList.remove('completed');
                    todoListItem.style.textDecoration = "none";
                    parentList.insertBefore(todoListItem, parentList.firstChild);
                }
                else {
                    // Update to show completion
                    this.classList.remove('btn-success');
                    this.classList.add('btn-secondary');
                    todoListItem.classList.add('completed');
                    todoListItem.style.textDecoration = "line-through";
                    todoListItem.style.textDecorationColor = "#add8e6";
                    parentList.appendChild(todoListItem);
                }
                // Find and click the info button within the list item
                todoListItem.querySelector('.details-button').click();
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    });

</script>