<link href="/css/notifications.css" rel="stylesheet" type="text/css">

<% avatar_route = 'images/avatar.png'; %>

<div class="container bg-dark">
    <h3 class="m-b-50 heading-line text-light">Notifications <i class="fa fa-bell"></i></h3>

    <div class="notification-ui_dd-content">

        <% if (notifs.length !== 0) { %>

            <% for (let notif of notifs) { %>
            
                <div class="notification-list bg-secondary <%= notif.viewed ? 'notification-list_read' : 'notification-list_unread' %>" style="overflow: hidden;">
                    <div class="notification-list_content">
                        <div class="notification-list_img">
                            <img src=<%= avatar_route %> alt="user">
                        </div>
                        <div class="notification-list_detail text-light">
                            <b style="color: pink"><%= notif.senderName %></b>
                            <p><%= notif.message %></p>
                            <p><small><%= notif.createdAt %></small></p>
                        </div>
                    </div>
                    <div class="notification-list_right">
                        <% if (notif.viewRoute) { %>
                            <a href="<%= notif.viewRoute %>" class="btn btn-primary w-100 m-1 glow-on-hover"><i class="fas fa-eye text-white"></i></a>
                        <% } %>
                        <a class="btn btn-danger w-100 m-1 glow-on-hover delete-notif" data-delete-route='<%= notif.deleteIdRoute %>' data-id="<%= notif._id %>">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                </div>
            <% } %>

        <% } else { %>

            <h2 class="fw-bold mb-2 text-uppercase text-light text-center">No Notifications</h2>

        <% } %>

    </div>

    <p style="visibility: hidden;">.</p>  <%# I have no idea how to get this to work without this fucker, so :shrug: %>

</div>

<script>
    // Add event listener for delete button clicks
    const deleteButtons = document.querySelectorAll('.delete-notif');
    deleteButtons.forEach(button => {
        button.addEventListener('click', function() {
            const confirmDelete = confirm('Are you sure you want to delete this Notification');
            if (!confirmDelete) return;
            const todoId = this.getAttribute('data-id');
            const deleteRoute = this.getAttribute('data-delete-route');
            // Send DELETE request to server
            fetch(deleteRoute, { method: 'DELETE' })
            .then(response => {
                if (!response.ok) {
                throw new Error('Network response was not ok');
                }
                // Remove deleted notif from the screen
                const notificationList = this.closest('.notification-list');
                const remaining_num = notificationList.parentNode.children.length - 1;
                if (remaining_num < 1){
                    location.reload();
                }
                notificationList.remove();
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    });
</script>