<style>
  .nav-link {
    color: white;
  }

  .nav-link:hover {
    color: #95cdf0
  }

  .tab-pane {
    color: white
  }

  .dark-muted {
    color: #d1c5c5;
  }
</style>

<div class="container">

    <!-- /Breadcrumb -->

    <div class="row mt-5">
      <div class="col-md-4 d-none d-md-block">
        <div class="card">
          <div class="card-body bg-dark">
            <nav class="nav flex-column nav-pills nav-gap-y-1 tabButtonContainer">
              <button data-tab="profile" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user mr-2"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>Profile Information
              </button>
              <button data-tab="account" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-settings mr-2"><circle cx="12" cy="12" r="3"></circle><path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path></svg>Account Settings
              </button>
              <button data-tab="security" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shield mr-2"><path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path></svg>Security
              </button>
            </nav>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card bg-dark">
          <div class="card-header border-bottom mb-3 d-flex d-md-none">
            <ul class="nav nav-tabs card-header-tabs nav-gap-x-1 tabButtonContainer" role="tablist">
              <li class="nav-item">
                <button data-tab="profile" data-toggle="tab" class="nav-link has-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg></button>
              </li>
              <li class="nav-item">
                <button data-tab="account" data-toggle="tab" class="nav-link has-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-settings"><circle cx="12" cy="12" r="3"></circle><path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path></svg></button>
              </li>
              <li class="nav-item">
                <button data-tab="security" data-toggle="tab" class="nav-link has-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shield"><path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path></svg></button>
              </li>
            </ul>
          </div>
          <div class="card-body bg-dark tab-content">

            <div id="flashView">
              <% if (success.length > 0) {%>
                <div class="alert alert-success" role="alert">
                  <h4><%= success %></h4>
                </div>
              <% } %>
            
              <% if (error.length > 0) {%>
                <div class="alert alert-danger" role="alert">
                  <h4><%= error %></h4>
                </div>
              <% } %> 
            </div>

            <%# PROFILE STARTS HERE %>
            <div class="tab-pane" id="profile">
              <h6>YOUR PROFILE INFORMATION</h6>
              <hr>
              <form action="/profile/change/unessentials" method="POST">
                <div class="form-outline form-group form-white mb-4">
                  <label for="changedUsername" class="form-label">Username</label>
                  <input type="text" class="form-control form-control-lg" name="changedUsername" id="changedUsername" aria-describedby="changedUsernameHelp" value='<%= username %>'>
                  <small id="changedUsernameHelp" class="dark-muted">Your username is displayed to your partner!</small>
                </div>
                <button class="btn btn-primary btn-lg px-5" type="submit" onclick="return checkIfNewUsername('<%= username %>')">Update Profile</button>
              </form>
            </div>

            <%# ACCOUNT STARTS HERE %>
            <div class="tab-pane" id="account">
              <h6>ACCOUNT SETTINGS</h6>
              <hr>
              <form action="/profile/change/email" method="POST">
                <div class="form-outline form-group form-white mb-4">
                  <label for="changedEmail" class="form-label">Email</label>
                  <input type="text" class="form-control form-control-lg" name="changedEmail" id="changedEmail" aria-describedby="changedEmailHelp" value='<%= email %>'>
                  <small id="changedEmailHelp" class="dark-muted">After changing your email, your old email becomes available for anyone else to claim.</small>
                </div>
                <button class="btn btn-primary btn-lg px-5" type="submit" onclick="return confirmAndCheckIfNewEmail('<%= email %>')">Change Email</button>
              </form>
              <hr>
              <div class="form-group">
                <label class="d-block text-danger">Delete Account</label>
                <p class="font-size-sm dark-muted">Once you delete your account, there is no going back. Please be certain.</p>
                <a href="/profile/delete/account" class="btn btn-danger" type="button">Delete Account</a>
              </div>
            </div>

            <%# SECURITY STARTS HERE %>
            <div class="tab-pane" id="security">
              <h6>SECURITY SETTINGS</h6>
              <hr>
              <form>
                <div class="form-group">
                  <label class="d-block">Change Password</label>
                  <input type="text" class="form-control" placeholder="Enter your old password">
                  <input type="text" class="form-control mt-1" placeholder="New password">
                  <input type="text" class="form-control mt-1" placeholder="Confirm new password">
                </div>
              </form>
            </div>

            
          </div>
        </div>
      </div>
    </div>

</div>

<script src="/js/settingsScript.js"></script>