<style>
    .todo-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .todo-header {
      text-align: center;
    }
    
    .todo-header * {
      font-size: 5em;
      font-weight: bold;
      color: pink;
    }
    .todo-details {
        display: flex;
        flex-direction: column;
        align-items: center;
    }    
</style>

    <div class="container py-5 bg-dark">
        <div class="row text-center text-white mb-5">
            <div class="col-lg-7 mx-auto">
                <h1 class="display-4">Todo List</h1>
            </div>
        </div>
    <div class="row">
        <div class="col-lg-10 mx-auto"> <!-- Make number bigger to make the box wider -->
            <!-- List group-->
            <ul class="list-group shadow">

                <% for (let todo of todos) { %>

                <!-- list group item-->
                <li class="list-group-item bg-secondary text-white mb-3">
                    <div class="d-flex justify-content-around align-items-center">
                        <div>
                            <img src="https://dummyimage.com/200x200/000000/fff">
                        </div>
                        <div>
                            <h1><%= todo.title %></h1>
                            <p><%= todo.description %></p>
                        </div>
                        <div class="todo-container">
                            <div class="todo-header">
                                <h1><%= todo.getAvgRating() %></h1>
                            </div>
                            <div class="todo-details">
                                <figcaption>Created by <%= todo.creatorInfo.creatorName %></figcaption>
                                <figcaption><%= todo.createdAt.toLocaleString() %></figcaption>
                            </div>
                        </div>                                                                               
                    </div>
                </li>

                <% } %>
                
            </ul> 
        </div>
    </div>
</div>